site_name: Programação Eficaz - Insper 2025/2
site_author: Marcio F. Stabile Jr.

extra:
  materia: Programação Eficaz
  professor: Marcio F. Stabile Jr.
  semestre: 2025/2

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
    - content.tooltips
  custom_dir: overrides
  icon:
    annotation: material/arrow-right-circle

docs_dir: material
site_dir: docs

site_url: https://insper.github.io/progeficaz/

nav:
  - Home: index.md
  - Cálculo da média: notas.md
  - Aulas:
    - "01 - Get-it":
      - "Slides": "aulas/01-getit/Aula01.pdf"
      - "Handout": aulas/01-getit.md
      - "Handout Parte 0: Antes de começar": aulas/01-getit/parte0.md
      - "Handout Parte 1: Criando o servidor": aulas/01-getit/parte1.md
      - "Handout Parte 2: Respondendo com páginas HTML": aulas/01-getit/parte2.md
      - "Handout Parte 3: Separando algumas responsabilidades": aulas/01-getit/parte3.md
      - "Handout Parte 4: Fazendo um formulário de criação de anotação": aulas/01-getit/parte4.md
    - "02 - REST": 
      - "Slides": "aulas/02-rest/REST.pdf"
      - "O que é REST": aulas/02-rest/index.md
      - "Fazendo requisições via Python": aulas/02-rest/requisicoes.md
      - "Exercícios": aulas/02-rest/exercicios.md
    - "03 - Testes manuais com Postman":
      - "Instalação": aulas/03-postman/instalacao.md
      - "Como usar": aulas/03-postman/como-usar.md
    - "04 - Persistência de dados": 
      - "Instalação do Workbench": aulas/04-persistencia/instalacao-mysql.md
      - "MySQL - Overview": aulas/04-persistencia/mysql-overview.md
    - "05 - Testes automatizados":
      - "TDD": aulas/05-TDD/0-tdd.md
      - "Pytest": aulas/05-TDD/1-pytest.md
      - "Boas práticas": aulas/05-TDD/2-boaspraticas.md
      - "Exceptions": aulas/05-TDD/3-exceptions.md
      - "Fixtures": aulas/05-TDD/4-fixtures.md
      - "Mocks": aulas/05-TDD/5-mocks.md
      - "Testando APIs": aulas/05-TDD/6-flask.md
      - Exercícios: https://us.prairielearn.com/pl/course_instance/204883/assessment/2632693
    - "06 - Deploy na AWS": aulas/06-Deploy/index.md
    - "07 - JavaScript": 
      - "Introdução": aulas/07-JS/intro.md
      - "Requisições Assíncronas": aulas/07-JS/assync.md
    - "08 - NoSQL":
      - "Conceitos NoSQL e MongoDB": aulas/mongo/conceitos.md
      - "MongoDB - Configuração": aulas/mongo/configuracao.md
      - "Python + MongoDB": aulas/mongo/pythonmongo.md
      - "Relações entre documentos": aulas/mongo/relacoes.md
    - "09 - React":
      - "Criando projeto": aulas/react/parte-00-react-vite.md
      - "Componentes": aulas/react/parte-01-componentes.md
      - "Recebendo Dados": aulas/react/parte-02-recebendo-dados.md
      - "Carregando imagens e arquivos estáticos": aulas/react/parte-03-carregando-estaticos.md
      - "Implementando a Criação de Anotações": aulas/react/parte-04-criacao-notas.md
      - "Implementando a edição de Anotações": aulas/react/parte-05-editando-anotacao.md
      - "Bônus: implementando a rotação dos cartões": aulas/react/parte-06-bonus.md
    - "10 - Autenticação com JWT": aulas/autenticacao/index.md
  - "Material Auxiliar":
    - "Usando o Terminal": auxiliar/terminal.md
    - "Usando o Git": auxiliar/git.md
    - "Usando Python com ambientes virtuais": auxiliar/venv.md
    - "Commit com coautores": auxiliar/coautores.md
    # - "Guia de Instalação WSL e Docker para Windows": https://github.com/InsperGuides/Guia-Instalacao-WSL-e-Docker---Windows
    # - Heroku: aulas/heroku.md
  - Entregas:
    - "01 - ELI5": entregas/01-ELI5.md
  - Projetos:
    - "Projeto 1": 
      - "Enunciado": projetos/projeto1/index.md
      - "Tarefas": projetos/projeto1/tarefas-projeto1.md
      - "Configuração do Corretor": projetos/projeto1/guia-corr-aut.md
      - "Submetendo": projetos/projeto1/submetendo.md
    # - "APS 1": projetos/aps1.md
    # - "Projeto 2": projetos/projeto2/index.md
    # - "APS 2": projetos/aps2.md
    # - "APS 3": projetos/aps3.md
    # - "Projeto 3": projetos/projeto3/index.md
  #   - "Projeto 1B":
  #     - "Enunciado": projetos/projeto1/projeto1b.md
  #     - "Tarefa 01": projetos/projeto1/projeto1b/tarefa01.md
  #     - "Tarefa 02": projetos/projeto1/projeto1b/tarefa02.md
  #     - "Tarefa 03": projetos/projeto1/projeto1b/tarefa03.md
  #     - "Tarefa 04": projetos/projeto1/projeto1b/tarefa04.md
  # - Simulado:
  #   - "Avaliação Intermediária": simulado/ai.md
  #   - "Avaliação Final": simulado/AF-simulado.pdf
   
  
markdown_extensions:
  - abbr
  - tables
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: material/aulas
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


    

 
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - javascripts/progress-check.js
  - javascripts/quiz.js
  - javascripts/short-questions.js
  - javascripts/translate-admonitions.js
  - javascripts/webhook-config.js


extra_css:
  - css/printing.css
  - css/tecweb.css

plugins:
    - search
    - glightbox
    # - with-pdf:
    #     copyright: 2025-1
    #     cover_title: Programação Eficaz
    #     cover_subtitle: Insper

watch:
  - includes